/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Verdana', 'Arial', 'sans-serif';
}

h1{
    text-align: center;
    padding: 1rem 0.5rem 0.25rem 0.5rem;
}

h2{
    font-weight: 100;
    color: gray;
    text-align: center;
    padding: 0.25rem 0.5rem 1rem 0.5rem;
}

#card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#card-container > *{
    width: 375px;
}

.card{
    border: solid thin black;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
}

.card-type{
    background-color: lightgray;
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
    padding: 0.7rem 0px;
}

.card-title{
    font-size: 1.2rem;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0.5rem;
    font-weight: 500;
}

.card-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0.5rem;
}

.card-description{
    padding: 0.75rem;
}

.card-expand{
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.card-creator {
    color: #6c757d;
    text-align: right;
    padding-top: 0.7rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    padding-bottom: 1.1rem;
}




/*Error Styles*/

.error-msg{
    color: red;
    font-style: italic;
    font-size: 1.2rem;
}